<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>


<!-Основной контейнер-->
<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="row">
                <div class="w-100 p-3">
                    <div class="col-12">

                        <!--nav bar-->
                        <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
                            <span class="navbar-brand" th:text="${currentUser.getEmail()}" id="username-span">Username</span>
                            <span class="navbar-brand" th:text="'with roles: ' + ${currentUser.rolesToString()}" id="roles-span">Roles</span>
                            <div class="collapse navbar-collapse d-flex justify-content-end navbar-nav" id="navbarSupportedContent">
                                <a class="nav-link" href="/logout">Logout</a>
                            </div>
                        </nav>

                        <br>

                        <div class="row">

                            <!--admin-user switch menu-->

                            <div class="col-2">
                                <ul class="nav flex-column nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/admin">Admin</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/user">User</a>
                                    </li>
                                </ul>
                            </div>

                            <!--main info-->

                            <div class="col-md-10">

                                <!--main header-->

                                <div class="page-header">
                                    <h1>
                                        Admin panel
                                    </h1>
                                </div>

                                <!--User-table and New-user switch-->

                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin">User table</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/admin/new">New User</a>
                                    </li>
                                </ul>


                            <div id="tables-holder">
                                <div class="border">
                                    <table class="table border" id="new-user-form">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Add new user</th>
                                            </tr>
                                        </thead>
                                    </table>

                                <div class="col-md-10">
                                    <div class="row">

                                        <div class="col-md-4">
                                        </div>

                                        <!--Расположение формы ввода в средней колонке-->
                                        <div class="col-md-4">

                                            <!--Форма ввода для нового пользователя-->
                                            <div class="form-group">
                                                <form  th:action="@{/admin/}" th:object="${user}" th:method="POST">

                                                    <div class="form-group">
                                                        <div style="text-align: center">
                                                            <label for="username"><b>Username</b></label>
                                                        </div>
                                                        <input type="text"
                                                               th:field="*{username}"
                                                               class="form-control"
                                                               id="username"
                                                               placeholder="Username"/>
                                                    </div>

                                                    <div class="form-group">
                                                        <div style="text-align: center">
                                                            <label for="age"><b>Age</b></label>
                                                        </div>
                                                        <input type="number"
                                                               th:field="*{age}"
                                                               class="form-control"
                                                               id="age"
                                                               placeholder="Age"/>
                                                    </div>

                                                    <div class="form-group">
                                                        <div style="text-align: center">
                                                            <label for="email"><b>Email</b></label>
                                                        </div>
                                                        <input type="text"
                                                               th:field="*{email}"
                                                               class="form-control"
                                                               id="email"
                                                               placeholder="Email"/>
                                                    </div>

                                                    <div class="form-group">
                                                        <div style="text-align: center">
                                                            <label for="password"><b>Password</b></label>
                                                        </div>
                                                        <input type="text"
                                                               th:field="*{password}"
                                                               class="form-control"
                                                               id="password"
                                                               placeholder="Password"/>
                                                    </div>

                                                    <div class="form-group">
                                                        <div style="text-align: center">
                                                            <label for="roles"><b>Role</b></label>
                                                        </div>
                                                        <select multiple class="custom-select" name="roles" id="roles" size="2">
                                                            <option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.toString()}">
                                                            </option>
                                                        </select>
                                                    </div>

                                                    <div style="text-align: center">
                                                        <button type="submit" class="btn btn-success">Add new user</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>